.about-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column; /* Ensure header is above content */
  justify-content: center;
}

.about-content h2 {
  margin-bottom: 2px;
  margin-top: 0;
}

.about-text {
  display: flex;
  align-items: flex-start;
}

.about-photo {
  max-width: 200px;
  width: 100%;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.text-content {
  flex: 1;
}

.about-content p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.6;
}

.name-header {
  font-size: 28px;
  margin-bottom: 5px;
  color: #333;
  text-align: center;
}


.subtitle {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 5px;
  color: #666;
  text-align: left;    /* optional - aligns better with layout */
}