.classes{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 20px;
}

.h2{
    color: #0c0b0b;
    text-align: left;
}
.hover-container {
    position: relative;
    display: inline-block;
  }
  
  .hover-text {
    visibility: hidden;
    width: 700px;
    background-color: #f9f9f9;
    color: #000;
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 100%;
    margin-left: 10px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .hover-container:hover .hover-text {
    visibility: visible;
    opacity: 1;
  }
  
  .custom-link {
    color: black;
    font-size: large;
    text-decoration: none;
  }
  
  .custom-link:hover {
    text-decoration: underline;
  }