body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

header {
  background-color: #af4f4c;
  color: white;
  padding: 1em 0;
  text-align: center;
}

.custom-link {
  color: black; /* Change this to the color you prefer */
  text-decoration: none;
}

.custom-link:hover {
  text-decoration: underline; /* Optional: add underline on hover */
}

header .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.hero {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: white;
  text-align: center;
  padding: 100px 20px;
  margin-bottom: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.project img {
  width: 300px;
  height: auto;
}

section {
  margin-bottom: 40px;
}

.about, .Classes, .contact {
  padding: 20px;
  background: #f4f4f4;
  margin-bottom: 20px;
  border-radius: 8px;
}

.Project{
  padding: 20px;
  background: #f4f4f4;
  margin-bottom: 20px;
  border-radius: 8px;
  text-decoration: dashed;
}

footer {
  background-color: #af4f4c;
  color: white;
  text-align: center;
  padding: 1em 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

form input, form textarea, form button {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form button {
  background-color: #af4f4c;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #8a3e3b;
}

.resume-container {
  background-color: #f4f4f4;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  
}

.resume-container h1 {
  color: #0c0b0b;
  text-align: center;
}

.resume-container h2 {
  color: #0c0b0b;
  text-align: center;
  font-size: large;
}

.resume-content {
  margin-top: 20px;
  
}

.resume-content h3 {
  color: #0c0b0b;
  font-size: 1.5em;
  border-bottom: 2px solid #0c0b0b;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.resume-content h4 {
  color: #0c0b0b;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.resume-content p {
  margin-bottom: 10px;
}

.resume-content ul {
  list-style-type: none;
  padding: 0;
  margin-left: 20px;
}

.resume-content ul li {
  margin-bottom: 5px;
}

.resume-content ol {
  margin-bottom: 5px;
}

/* Highlight feature */
.highlight {
  background-color: yellow;
}

/* Styles for the buttons */
.dropdown-button {
  background-color: #af4f4c; /* Blue background */
  color: white; /* White text */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Padding */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Font size */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.dropdown-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.dropdown-button:focus {
  outline: none; /* No outline on focus */
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); /* Outline shadow */
}

/* Styles for the links */
.custom-link {
  color: black; /* Black text */
  text-decoration: none; /* No underline */
  transition: font-weight 0.3s ease; /* Smooth transition for font weight */
  font-family: ''; /* Font family */
}

.custom-link:hover {
  font-weight: bold;
  text-decoration: underline; /* Underline on hover */
}

.contact-link {
    display: block;
    color: black; /* Change this to the color you prefer */
    text-decoration: underline;

  
}

.date-right {
  font-weight: bold;
  float: right;
  margin-left: auto;
}

.resume-highlight {
  text-decoration: underline;
}

.contact-info {
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
  margin: 10px 0;
}

.contact-link {
  display: inline;
  margin: 0 5px;
}