.Projects {
  padding: 20px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the project items */
  gap: 20px; /* Add some spacing between project items */
}

.project {
  background: none; /* Remove background color */
  padding: 20px;
  border-radius: 0; /* Remove border radius */
  max-width: 300px; /* Set a max-width to ensure images don't stretch too much */
  text-align: center; /* Center align text and image */
  box-shadow: none; /* Remove box shadow */
  transition: transform 0.3s, box-shadow 0.3s; /* Add transition for hover effect */
}

.project:hover {
  transform: translateY(-10px); /* Lift the project card on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a shadow effect on hover */
}

.project h3 {
  color: #0c0b0b;
  margin-bottom: 15px;
}

.project img {
  max-width: 100%; /* Ensure images are responsive */
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.project li {
  list-style: none; /* Remove the bullet points */
  text-align: left; /* Align the text to the left */
  padding: 0 10px;
}
